body
  margin-top 75px
  margin-bottom 20px
  overflow-x hidden
  background-color #f5ffff

.beta
  // color #03BAD4
  &.color
    color #03BAD4
  &::after
    content "βeta"

#editor
  height 570px

.fa-university
  color #7feb4d
  a.navbar-brand>&:hover
    color darken(#7feb4d, 40%)

.navbar-default
  background-color white
  border-bottom 1px solid #E7E7E7