/*r
  LCU CSS v0.1
*/
@import "nib"
@import "variables"

body
  margin-top 75px
  margin-bottom 20px
  overflow-x hidden
  /*background-color bodyColor*/

.beta
  // color #03BAD4
  &.color
    color #03BAD4
  &::after
    content "βeta"

#editor
  height 570px

.fa-university
  color darkPurple
  a.navbar-brand>&:hover
    color darken(darkPurple, 30%)

.navbar-default
  background-color white
  border-bottom 1px solid #E7E7E7

.not-found
  text-align center

.card
  margin 5px
  min-height 400px
  padding-top 6.250px !important
  text-align center
  background #fff
  border 1px solid #ddd
  box-shadow 0 0 5px #ddd
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  transition all 0.4s
  &:hover
    background darken(#fff, 5%)
    border 1px solid darken(#ddd, 10%)
    box-shadow 0 0 5px darken(#ddd, 10%)
  & a
    color black
    text-decoration none
