/*r
  LCU CSS v0.1
*/
@import "nib"
@import "variables"

body
  margin-top 75px
  margin-bottom 20px
  overflow-x hidden
  background-color bodyColor

.beta
  // color #03BAD4
  &.color
    color #03BAD4
  &::after
    content "βeta"

#editor
  height 570px

.fa-university
  color darkPurple
  a.navbar-brand>&:hover
    color darken(darkPurple, 30%)

.navbar-default
  background-color white
  border-bottom 1px solid #E7E7E7