<template name="About">
  {{setTitle "About"}}
  <h1>About</h1>
  <p>We are a bunch of people who were teaching kids how to code using HTML & CSS and we realized that
    <a href="codecademy.com">CodeAcademy</a> is not that good for learning because the things they require of you are
  so cryptic that you don't really learn anything but decoding their questions</p>
  <p>So we got fed up with it so we decided to create something that would do the same job</p>
  <h2 id="team">Team</h2>
  <p>Alex B (Lead Developer)</p>
  <p>Matthew H (Developer & Project Manager)</p>
  <p>Ben Z (Developer)</p>
</template>