<template name="Home">
  {{setTitle "Home"}}
  <div class="home">
    <h1><span class="fa fa-university"></span></h1>
    <h1>Welcome to Learn Code University</h1>
    <p>We are in <span class="beta"></span> right now so don't expect everything to work without a hitch</p>
    <p>We are still learning the framework we are using to develop this applications</p>
    <hr/>
    <h1><i class="fa fa-github"></i> <a href="https://github.com/lcu/lcu">GitHub</a></h1>
    <p>This project is meant to be opensource and free for you to run on your own servers so you can control your own data
    that you collect</p>
    <h3>Contributing</h3>
    <p>If you choose to help contribute please follow <a
      href="https://github.com/thoughtbot/guides/tree/master/protocol/git#write-a-feature">these</a> guidelines if you
      are planning to help write LCU</p>
  </div>
</template>